$props: (
  color-gray-0: #FFFFFF,
  color-gray-25: #FDFDFD,
  color-gray-50: #FAFAFA,
  color-gray-100: #F5F5F5,
  color-gray-200: #EAEAEA,
  color-gray-300: #D7D7D7,
  color-gray-400: #A6A6A6,
  color-gray-500: #777777,
  color-gray-600: #5A5A5A,
  color-gray-700: #484848,
  color-gray-800: #2D2D2D,
  color-gray-900: #1F1F1F,
  color-gray-950: #0E0E0E,
  color-gray-1000: #000000,

  color-brand-primary: #007bff,

  color-bg-primary: light-dark(var(--color-gray-50), var(--color-gray-950)),
  color-bg-inverse: light-dark(var(--color-gray-950), var(--color-gray-50)),
  color-bg-secondary: light-dark(var(--color-gray-200), var(--color-gray-900)),
  color-bg-secondary-inverse: light-dark(var(--color-gray-900), var(--color-gray-200)),
  color-bg-disabled: light-dark(var(--color-gray-300), var(--color-gray-700)),

  color-fg-lighter: light-dark(var(--color-gray-1000), var(--color-gray-0)),
  color-fg-primary: light-dark(var(--color-gray-800), var(--color-gray-200)),
  color-fg-inverse: light-dark(var(--color-gray-0), var(--color-gray-900)),
  color-fg-secondary: light-dark(var(--color-gray-600), var(--color-gray-400)),
  color-fg-secondary-inverse: light-dark(var(--color-gray-400), var(--color-gray-600)),
  color-fg-disabled: light-dark(var(--color-gray-500), var(--color-gray-400)),

  size-xxxs: 8px,
  size-xxs: 16px,
  size-xs: 24px,
  size-s: 32px,
  size-m: 48px,
  size-l: 64px,
  size-xl: 128px,
  size-xxl: 256px,
  size-xxxl: 384px,

  size-10: 10%,
  size-20: 20%,
  size-30: 30%,
  size-40: 40%,
  size-50: 50%,
  size-60: 60%,
  size-70: 70%,
  size-80: 80%,
  size-90: 90%,
  size-100: 100%,

  space-xxs: 4px,
  space-xs: 8px,
  space-s: 12px,
  space-m: 24px,
  space-l: 32px,
  space-xl: 48px,
  space-xxl: 64px,

  border-radius-s: 2px,
  border-radius: 4px,
  border-radius-l: 8px,
  border-radius-xl: 16px,
  border-radius-circle: 50%,

  line-thickness-xxs: 1px,
  line-thickness-xs: 2px,
  line-thickness-s: 3px,
  line-thickness-m: 4px,
  line-thickness-l: 5px,
  line-thickness-xl: 6px,
  line-thickness-xxl: 8px,

  font-size-xs: 0.5rem,
  font-size-s: 0.75rem,
  font-size: 1rem,
  font-size-m: 1.25rem,
  font-size-l: 1.5rem,
  font-size-xl: 2rem,
  font-size-xxl: 4rem,

  font-weight: 400,
  font-weight-regular: 500,
  font-weight-medium: 600,
  font-weight-bold: 700,
  font-weight-bolder: 800,
);

$spacing: (
  1: 4px,
  2: 8px,
  3: 12px,
  4: 24px,
  5: 32px,
  6: 48px,
  7: 64px,
  8: 128px,
  9: 256px,
  10: 384px,
);

$widths: (
  10: 10%,
  20: 20%,
  30: 30%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  80: 80%,
  90: 90%,
  100: 100%,
);
