@layer typography {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: var(--font-weight-medium);
  }

  a,
  .link {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: var(--line-thickness-xs);
    text-underline-offset: var(--space-xxs);
    transition: 0.2s;

    &:hover {
      color: var(--color-fg-lighter);
    }
  }

  .link-title {
    color: inherit;
    text-decoration: none;
  }
}
