@use "../config" as config;

@layer utilities {
  .grid-2-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid-col-span-2 {
    grid-column: span 2;
  }

  @each $key, $value in config.$spacing {
    .gap-#{"" + $key} {
      gap: $value;
    }
  }
}
