@layer components {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: var(--size-xl);
    border-bottom: 2px solid var(--color-bg-disabled);
    background-color: var(--color-bg-primary);
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: var(--space-m);
    padding: 0 var(--space-m);

    @media (max-width: 768px) {
      gap: var(--space-s);
    }

    .content {
      display: inline-flex;
      align-items: center;
      height: 100%;

      &.start {
        justify-self: start;
      }

      &.end {
        justify-self: end;
      }

      &.nav {
        padding: 0 var(--space-m);
        gap: var(--space-m);

        a {
          font-size: var(--font-size-m);
          transition: 0.2s;

          @media (max-width: 768px) {
            display: none;
          }
        }
      }
    }

    .nav-sidebar {
      display: none;
      position: fixed;
      top: var(--size-xl);
      right: 0;
      width: var(--size-xxl);
      height: calc(100vh - var(--size-xl));
      background-color: var(--color-bg-primary);
      border-left: 1px solid var(--color-bg-disabled);
      z-index: 10000;
      padding: var(--space-m);
      transition: 0.5s;
      text-align: center;

      @media (max-width: 768px) {
        display: block;
      }

      &.hidden {
        transform: translateX(100%);
      }

      &.visible {
        transform: translateX(0);
      }
    }

    .mobile {
      display: none;

      @media (max-width: 768px) {
        display: inherit;
      }
    }
  }
}
