@layer components {
  .section {
    --section-bg-color: var(--color-bg-primary);
    --section-fg-color: var(--color-fg-primary);

    &.secondary {
      --section-bg-color: var(--color-bg-secondary);
      --section-fg-color: var(--color-fg-secondary);
    }

    &.disabled {
      --section-bg-color: var(--color-bg-disabled);
      --section-fg-color: var(--color-fg-disabled);
    }

    width: var(--size-80);
    padding: var(--space-m);
    border: 1px solid var(--section-fg-color);
    background-color: var(--section-bg-color);
    color: var(--section-fg-color);
    border-radius: var(--border-radius);

    @media (max-width: 768px) {
      width: var(--size-90);
    }

    @media (max-width: 480px) {
      width: var(--size-100);
    }
  }
}
