@layer components {
  .switch-section {
    width: 100%;

    .options {
      box-shadow: var(--box-shadow-primary);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      background-color: var(--color-bg-secondary);
      width: fit-content;
      max-width: 100%;
      overflow-x: auto;
      scrollbar-color: var(--color-fg-disabled) rgba(0, 0, 0, 0);
      display: grid;
      grid-auto-columns: minmax(max-content, 1fr);
      grid-auto-flow: column;
      border-bottom: 1px solid var(--color-bg-disabled);

      .option {
        padding: var(--space-xxs) var(--space-l);
        border-radius: inherit;
        text-align: center;
        cursor: pointer;
        color: var(--color-fg-secondary);
        transition: 0.2s;

        &.active {
          background-color: var(--color-bg-primary);
          color: var(--color-fg-primary);
        }
      }
    }

    .content {
      width: 100%;
      background-color: var(--color-bg-primary);
      border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
      box-shadow: var(--box-shadow-primary);
      padding: var(--space-m);
      overflow-x: hidden;

      * {
        white-space: normal;
        overflow-wrap: break-word;
      }

      .content-item {
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }
}
